.root {
    margin: 2rem auto;
    width: 800px;
    height: 500px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease-in-out forwards;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    animation: slideUp 1s infinite;

}
@keyframes slideUp {
    0% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50%);
    }
}
.avatar {
    width: 128px;
    height: 128px;
    border: 4px solid #FFF;
}
.title {
    margin-bottom: 8px;
    text-align: center;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}
.info {
    margin-bottom: 4px;
    text-align: center;
    color: #555;
    letter-spacing: 0.5px;
}

.favoriteHotelsContainer {
    margin-top: 16px;
}

.favoriteHotelCard {
    margin-bottom: 8px;
}

.favoriteHotelMedia {
    height: 160px;
}
.tabListContainer {
    margin: 2rem auto;
    width: 100%;
    padding: 16px;
    background-color: #F4F4F4;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #777;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.tab {
    font-weight: bold;
    min-width: 150px;
}
.tabPanel {
    padding: 2rem;

}
.reserved-hotels-container{
    display: inline-flex;
    align-content: stretch;
}

.reserved-hotels-card{

}
.reservation-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: #F4F4F4;
    border: 1px solid #E1D9D2;
    border-radius: 15px;
    max-width: 300px;
}
.reservation-date{
    margin-bottom: 2rem;
    font-weight: bold;
}
.reservation-date-range{

}
.reserved-flights-wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: flex-start;
}
.reserved-hotels-wrapper{
    max-width: 100rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.favourite-hotel-card {
    width: 100%;
}