.root {
    margin: 2rem auto;
    max-width: 600px;
    padding: 16px;
    /* backgroundColor: '#F4F4F4', */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Avatar Container */
.avatarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

/* Avatar */
.avatar {
    width: 128px;
    height: 128px;
    border: 4px solid #FFF;
}

/* Title */
.title {
    margin-bottom: 8px;
    text-align: center;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Info */
.info {
    margin-bottom: 4px;
    text-align: center;
    color: #555;
    letter-spacing: 0.5px;
}

/* Bio */
.bio {
    margin-top: 16px;
    text-align: center;
    color: #777;
    font-style: italic;
}

/* Favorite Hotels Container */
.favoriteHotelsContainer {
    margin-top: 16px;
}

/* Favorite Hotel Card */
.favoriteHotelCard {
    margin-bottom: 8px;
}

/* Favorite Hotel Media */
.favoriteHotelMedia {
    height: 160px;
}